* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font: 15px/1 'Open Sans', sans-serif;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font: 15px/1 'Dosis', sans-serif;
    font-weight: 400;
}

section {
    padding-top: 140px;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.title {
    padding-bottom: 75px;
    text-transform: uppercase;
}

.title h2 {
    letter-spacing: .5em;
}

.section-small {
    padding-top: 70px;
}

.section-light {
    color: #777;
    background: #fff;
}

.section-light .title h2 {
    color: #111;
}

.section-grey {
    color: #111;
    background: #f8f8f8;
}

.section-dark {
    color: #fff;
    background: #111;
}

blockquote {
    padding: 0;
    border: none;
    font-size: 24px;
    line-height: 38px;
}

blockquote .author {
    display: block;
    font-size: 11px;
    line-height: 1;
    letter-spacing: .2em;
    margin-top: 30px;
    text-transform: uppercase;
}

.text {
    line-height: 26px;
}

.btn-default {
    color: #fff;
    background: #111;
    border-radius: 2px;
}

.btn .btn-dark {
    font-size: 13px;
    color: #fff;
    background-color: #323232;
}

/* .btn .btn-light {
    color: #777777;
    background-color: #e5e5e5;
} */

.marker {
    display: inline-block;
    width: 23px;
    height: 23px;
    border-radius: 2px;
    text-align: center;
    line-height: 23px;
    transform: rotate(45deg);
}

.marker-dark {
    color: #fff;
    background: #111;
}

.marker-light {
    color: #222;
    background: #fff;
}

.marker-black {
    color: #000;
    background: #fff;
    box-sizing: padding-box;
    border: 1px solid #000;
}

.marker i {
    font-size: 14px;
    transform: rotate(-45deg);
}

.marker i.fa-phone {
    transform: rotate(45deg) scale(.9) translate(-2px, -2px);
}

.marker-black i {
    transform: rotate(-45deg) translate(1px, -1px);
}

.progress-branding .progress-bar {
    width: 74%;
}

/* CUSTOM STYLES */

/* HEADER START */

#header {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}

#logo {
    display: inline-block;
    padding: 27px 29px 12px;
}

#menu {
    padding: 34px 32px 18px;
}

#menu li {
    display: inline-block;
    color: #fefefe;
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: .3em;
}

#menu li > a {
    text-decoration: none;
    color: rgba(255, 255, 255, .75);
}

#menu li > a:hover,
#menu li > a:focus {
    color: #ffffff;
    opacity: 1;
    transition: 0.3s;
}

#menu li + li {
    margin-left: 32px;
}

.navbar-toggle {
    border-color: #fff;
    border-radius: 2px;
    margin-top: 14px;
}

.navbar-toggle .icon-bar {
    background: #fff;
}

@media (min-width: 767px) {
    #menu {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .navbar-collapse {
        border: none;
        background: #111;
        padding: 30px 15px;
        z-index: 99;
    }
    #menu {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        text-align: right;
    }
    #menu li {
        display: block;
    }
    #menu li a {
        line-height: 3em;
    }
}

.first-screen {
    height: 100vh;
    background: #a1a1a1 url(../img/first-bg.jpg) 50% 100% no-repeat;
    background-size: cover;
}

.first-screen h1 {
    font-size: 30px;
    font-weight: 400;
    padding-top: 185px;
    padding-bottom: 100px;
    font-family: "Dosis", sans-serif;
    text-transform: uppercase;
    color: rgba(254, 254, 254, .9);
    letter-spacing: 1.7em;
}

.first-screen span {
    display: block;
    font-size: 19px;
    font-family: "Open Sans", sans-serif;
    color: rgba(254, 254, 254, .68);
}

.angel-down-icon {
    display: block;
    position: absolute;
    bottom: 32px;
    left: 50%;
    height: 20px;
    width: 20px;
    background: #fff;
    transform: rotate(45deg);
    border-radius: 3px;
}

.angel-down-icon i {
    transform: rotate(-45deg);
    text-align: center;
    padding-top: 10px;
    padding-left: 3px;
    transition: background 5s;
}

.angel-down-icon:hover,
.angel-down-icon:focus {
    color: inherit;
    background: rgba(222, 222, 222, 1);
    transition: .5s;
}


@media (max-width: 1199px) {
    .first-screen h1 {
        padding-top: 150px;
    }
}

@media (max-width: 991px) {
    .first-screen h1 {
        letter-spacing: 1em;
        padding-left: 1em;
    }
    .first-screen span {
        margin-top: 52px;
    }
}

@media (max-width: 761px) {
    .first-screen {
        height: 100vh;
        background-size: cover;
    }
    .first-screen h1 {
        letter-spacing: 0.5em;
        padding-left: 0.5em;
    }
    .first-screen span {
        margin-top: 35px;
    }
    .angel-down-icon {
        bottom: 15px;
    }

}

/* HEADER END */

/* ABOUT STUDIO START */

.about-studio {
    padding-bottom: 140px;
    border-bottom: 1px solid #ececec;
}

.about-studio .people {
    margin-top: 106px;
}

.about-studio .photo {
    position: relative;
}

.about-studio .photo img {
    filter: grayscale(100%);
}

.about-studio .name,
.about-studio .position {
    display: block;
    font-family: 'Dosis';
    font-weight: 400;
    letter-spacing: .4em;
    text-transform: uppercase;
}

.about-studio .name {
    margin: 28px 0 12px;
}

.about-studio .position {
    font-size: 12px;
}

.about-studio .skills {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transform: scale(.8);
    transition: opacity .3s, transform .3s;
    padding: 36px 40px 20px;
}

.about-studio .skills-title {
    display: block;
    font-family: 'Dosis';
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .3em;
    margin-bottom: 27px;
}

.about-studio .skills p {
    color: rgba(255, 255, 255, .5);
    font-size: 13px;
    line-height: 21px;
    margin-bottom: 40px;
}

.about-studio .progress-wrp {
    font-weight: 400;
    letter-spacing: .2em;
    color: rgba(255, 255, 255, .9);
    text-transform: uppercase;
}

.about-studio .progress-wrp > span {
    font-size: 11px;
}

.about-studio .progress {
    height: 12px;
    margin-top: 6px;
    border-radius: 0;
    background-color: rgba(255, 255, 255, .15);
}

.about-studio .progress-bar {
    background-color: rgba(255, 255, 255, .75);
}

.about-studio .photo:hover .skills {
    opacity: 1;
    transform: scale(1);
}

.about-studio .photo .skills .progress-bar {
    width: 0;
    transition: width .3s ease-in-out .3s;
}

.about-studio .photo:hover .skills .progress-branding .progress-bar {
    width: 74%;
}

.about-studio .photo:hover .skills .progress-design .progress-bar {
    width: 85%;
}

.about-studio .photo:hover .skills .progress-development .progress-bar {
    width: 81%;
}

.about-studio .photo:hover .skills .progress-photography .progress-bar {
    width: 77%;
}

.about-studio .photo.marta:hover .skills .progress-design .progress-bar {
    width: 98%;
}

.about-studio .photo.marta:hover .skills .progress-development .progress-bar {
    width: 77%;
}

.about-studio .photo.marta:hover .skills .progress-photography .progress-bar {
    width: 86%;
}

.about-studio .photo.marta:hover .skills .progress-branding .progress-bar {
    width: 91%;
}

.about-studio .photo.steve:hover .skills .progress-branding .progress-bar {
    width: 78%;
}

.about-studio .photo.steve:hover .skills .progress-design .progress-bar {
    width: 80%;
}

.about-studio .photo.steve:hover .skills .progress-development .progress-bar {
    width: 92%;
}

.about-studio .photo.steve:hover .skills .progress-photography .progress-bar {
    width: 81%;
}


@media (max-width: 1199px) {
    .about-studio .skills {
        padding: 20px;
    }
    .about-studio .skills-title {
        margin-bottom: 20px;
    }
    .about-studio .skills p {
        margin-bottom: 24px;
    }

    .about-studio .progress {
        margin-bottom: 16px;
    }
}

@media (max-width: 991px) {
    .about-studio blockquote {
        margin-bottom: 40px;
    }
    .about-studio .photo {
        display: inline-block;
    }

    .about-studio .name {
        margin-top: 20px;
    }

    .about-studio .col-md-4 + .col-md-4 .photo {
        margin-top: 60px;
    }
}

@media (max-width: 761px) {
    .about-studio .col-sm-6 {
        margin-bottom: 10px;
    }
    .about-studio .people {
        margin-top: 96px;
    }
}

/* ABOUT STUDIO END */

/* SERVICES START */

.services .nav-tabs li {
    width: 20%;
    font-family: 'Dosis';
    font-weight: 400;
    font-size: 14px;
    letter-spacing: .4em;
    text-transform: uppercase;
}

.services .icon-et {
    display: block;
    font-size: 48px;
    margin-bottom: 34px;
}

.services .nav-tabs {
    border: none;
}

.services .nav-tabs > li > a {
    line-height: 1;
    border: none;
    color: rgba(17, 17, 17, .5);
    transition: color .3s;
}

.services .nav > li.active > a {
    color: rgba(17, 17, 17, 1);
}

.services .nav > li > a:focus,
.services .nav > li > a:hover {
    background: none;
    color: rgba(17, 17, 17, 1);
}

.services .nav-tabs > li.active > a,
.services .nav-tabs > li.active > a:focus,
.services .nav-tabs > li.active > a:hover {
    border: none;
}

.services .tab-content {
    padding-top: 62px;
}

.services {
    padding-bottom: 171px;
}

@media (max-width: 1199px) {
    .services .nav > li.active > a {
        line-height: 1.5px;
    }
    .services .tab-content {
        padding-top: 55px;
    }
    .services blockquote {
        margin-bottom: 40px;
    }
}

@media (max-width: 991px) {
    .services .nav-tabs li {
        width: 33.3333%;
        margin-bottom: 20px;
    }
    .services .nav-tabs li:nth-child(4) {
        margin-left: 16.6667%;
    }
    .services .tab-content {
        padding-top: 35px;
    }
    .services .icon-et {
        margin-bottom: 16px;
    }
}

@media (max-width: 761px) {
    .services .nav-tabs li {
        letter-spacing: .2em;
    }
    .tab-content .col-sm-6 {
        margin-bottom: 10px;
    }
    .services {
        padding-bottom: 161px;
    }
}

/* SERVICES END */

/* LETS-TALK START*/

.lets-talk h2 {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: .3em;
    font-family: "Dosis";
    color: #ffffff;
    text-transform: uppercase;
    padding-bottom: 27px;
}

.lets-talk p {
    font-size: 15px;
    line-height: 26px;
    padding-bottom: 35px;
    color: rgba(255, 255, 255, .7);
}

.lets-talk a {
    padding: 6px 37px 6px 38px;
}

a.btn-light {
    color: #111;
    background: rgba(255, 255, 255, .8);
}

a.btn-default {
    border-radius: 2%;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.8px;
    text-transform: uppercase;
}

.lets-talk img {
    margin-top: -172px;
    padding-bottom: 49px;
}

@media (max-width: 1200px) {
    .lets-talk {
        padding-top: 100px;
        padding-bottom: 80px;
    }

}

@media (max-width: 992px) {
    .lets-talk img {
        margin-top: 30px;
        display: inline-block;
        max-width: 66%;
    }
    .lets-talk .row > div {
        text-align: center;
    }
}

/* LETS-TALK END*/

/* PORTFOLIO START*/

.portfolio h2 {
    font-size: 18px;
    color: #111111;
    font-weight: 400;
    font-family: "Dosis";
    text-transform: uppercase;
    letter-spacing: .5em;
    padding-bottom: 5px;
}

.portfolio p {
    max-width: 760px;
    font-size: 15px;
    color: #777;
    line-height: 26px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0 auto 82px;
}

.portfolio .nav-tabs {
    padding: 0 292px;
    margin-bottom: 51px;
}

.portfolio .nav-tabs li {
    width: 25%;
    font-size: 13px;
    letter-spacing: .3em;
    font-family: "Dosis";
    font-weight: 400;
    text-transform: uppercase;
}

.portfolio .nav-tabs > li > a {
    line-height: 1;
    border: none;
    color: rgba(17, 17, 17, .5);
    transition: color .3s
}

.portfolio .nav > li.active > a {
    color: rgba(17, 17, 17, 1);
}

.portfolio .nav > li > a:focus,
.portfolio .nav > li > a:hover {
    background: none;
    color: rgba(17, 17, 17, 1);
}

.portfolio .nav-tabs > li.active > a,
.portfolio .nav-tabs > li.active > a:focus,
.portfolio .nav-tabs > li.active > a:hover {
    border: none;
}

.portfolio .nav-tabs {
    border: none;
}

.portfolio-outer {
    overflow: hidden;
    padding: 0;
    margin-left: -4px;
    margin-right: -4px;
}


.portfolio .tab-pane .img-item {
    padding: 0 4px 8px;
    float: left;
    width: 33.3333%;
}

.img-item img {
    max-width: 100%;
    height: auto;
}

.portfolio .img-item img {
    filter: grayscale(100%);
}

.portfolio .img-item img:hover {
    filter: grayscale(0%);
    transition: .6s;
}

@media (max-width: 1200px) {
    .portfolio .nav-tabs {
        padding: 0;
    }
    .portfolio .nav-tabs li {
        width: auto;
        display: inline-block;
        float: none;
    }
    .portfolio .nav-tabs li + li {
        margin-left: 65px;
    }
}

@media (max-width: 991px) {
    .portfolio p {
        padding-left: 0;
        padding-right: 0;
        max-width: 90%;
        margin: 0 auto;
    }
    .portfolio .nav-tabs li + li {
        margin-left: 16px;
    }
    .portfolio .tab-pane .img-item {
        width: 50%;
    }
}

@media (max-width: 761px) {
    /* TEST ON (479px) */
    .portfolio .nav-tabs li {
        width: 49%;
        margin: 0;
    }
    .portfolio .nav-tabs li + li {
        margin-left: 0;
    }
}

/* PORTFOLIO END*/

/* START-PROJECT START*/

.start-project {
    position: relative;
    height: 198px;
}

.start-project .hovered {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background: url(../img/like-our-bg.jpg) no-repeat 50% 50%;
    background-size: cover;
    transition: opacity .3s;
}

.start-project:hover .hovered {
    opacity: 1;
}

.start-project .container {
    position: relative;
    /*z-index: 1;*/
}

.start-project .title {
    padding-bottom: 23px;
    position: relative;
    color: #ffffff;
    font-family: 'Dosis';
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: .3em;
}

.start-project a {
    position: relative;
    padding: 7px 37px 5px 38px;
    margin-bottom: 69px;
    border-radius: 2%;
}

start-project .btn-default .btn-light {
    color: #777777;
    background-color: #e5e5e5;
}

.start-project .btn-light:hover {
    color: #777777;
    background-color: #e4e4e4;
}

/* START-PROJECT END */

/* CHOOSE-US START*/

.choose-us {
    padding-bottom: 58px;
}

.choose-us .title {
    padding-bottom: 0;
}

.choose-us .choose-block {
    display: inline-block;
    padding-bottom: 82px;
}

.choose-us h2 {
    color: #111111;
    font-family: 'Dosis';
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 9px;
    text-align: center;
    padding-bottom: 88px;
}

.choose-us .icon-et {
    display: block;
    font-size: 48px;
    margin-bottom: 30px;
}

.choose-us h3 {
    font-size: 14px;
    font-family: 'Dosis';
    letter-spacing: .4em;
    text-transform: uppercase;
    color: #111;
    margin-bottom: 34px;
}

.choose-us p {
    line-height: 26px;
    color: #777;
    font-size: 14px;
    font-weight: 300;
    margin-top: 0;
    text-align: left;
    width: 365px;
}

.choose-block:first-child p {
    width: 362px;
}

.choose-us .row {
    margin-right: 0;
    margin-left: 0;
}

@media (max-width: 1200px) {
    .choose-block p,
    .choose-block:first-child p {
        width: auto;
    }
}

@media (max-width: 761px) {
    .choose-us p {
        text-align: center;
    }
}

/* CHOOSE-US END*/

/* slider START */

.slider {
    padding-top: 0;
}

.slider .slide-title {
    font-size: 18px !important;
    font-weight: 300 !important;
}

.slider .item {
    padding-top: 140px;
    padding-bottom: 140px;
}

.slider .item .icon-quote {
    font-size: 32px;
}

.slider .item .slide-title {
    font-family: 'Dosis';
    letter-spacing: .3em;
    text-transform: uppercase;
    margin: 21px 0 45px;
    display: block;
}

.slider .item blockquote {
    max-width: 730px;
    margin: 0 auto;
}

.slider .item blockquote p {
    font-size: 18px;
    line-height: 30px;
    color: rgba(255, 255, 255, .75);
}

.slider .item blockquote .author {
    color: rgba(255, 255, 255, .3);
}

.slider .carousel-indicators li {
    width: 9px !important;
    height: 9px !important;
    background-color: #fff;
    vertical-align: middle;
}

.slider .carousel-indicators .active {
    background-color: rgba(0, 0, 0, 0);
}

.slider .carousel-control {
    overflow: hidden;
}

.slider .carousel-control.left,
.slider .carousel-control.right {
    background: none;
}

.slider .marker {
    width: 63px;
    height: 63px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.slider .left .marker {
    left: -32px;
}

.slider .right .marker {
    right: -32px;
}

.slider .marker .fa-angle-left,
.slider .marker .fa-angle-right {
    position: absolute;
    transform: translateY(-50%) rotate(-45deg);
}

.slider .marker .fa-angle-left {
    top: 20px;
    left: 41px;
}

.slider .marker .fa-angle-right {
    top: 44px;
    left: 16px;
}

@media (max-width: 991px) {
    .slider .item blockquote {
        width: 75%;
    }
}

/* slider END */

/* latest-news START */

.latest-news {
    padding-bottom: 140px;
}

.latest-news h2 {
    font-size: 18px;
    font-family: "Dosis";
    letter-spacing: .5em;
    text-transform: uppercase;
    color: #111;
}

.latest-news a {
    font-size: 11px;
    font-family: "Dosis";
    font-weight: 400;
    line-height: 18px;
    letter-spacing: .4em;
    text-transform: uppercase;
    color: #999;
}

.latest-news a:hover {
    text-decoration: none;
}

.latest-news img {
    width: 370px;
    filter: grayscale(100%);
}

.latest-news img:hover {
    filter: grayscale(0%);
    transition: .6s;
}

.latest-news h3 {
    font-family: 'Dosis';
    font-weight: 400;
    font-size: 15px;
    letter-spacing: .2em;
    text-transform: uppercase;
    color: #777;
    padding: 50px 0 15px;
}

.latest-news span {
    font-family: 'Dosis';
    font-weight: 400;
    font-size: 11px;
    letter-spacing: .4em;
    text-transform: uppercase;
    color: #999;
}

.latest-news p {
    font-size: 15px;
    line-height: 26px;
    font-weight: 300;
    color: #777;
    padding-top: 20px;
    padding-bottom: 25px;
}

.latest-news a.btn {
    font-size: 11px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: .2em;
    text-transform: uppercase;
    border-radius: 1px;
    line-height: 15px;

}

@media (max-width: 992px) {
    .latest-news img {
        max-width: none;
        width: 100%;
        margin-top: 30px;
    }
    .latest-news a.btn {
        float: right;
    }

    .latest-news p {
        padding-bottom: 0;
    }
}

/* 
.latest-news a.btn > i{
    margin-left: 12px;
}
 */

.latest-news a.btn-small {
    height: 26px
}

.latest-news a.btn-light {
    color: #777;
    background: rgba(17, 17, 17, .1);
}



/* latest-news END */

/* subscribe START */

.subscribe {
    background: #f8f8f8;
    padding-top: 80px;
    height: 265px;
}

.subscribe .title {
    margin-bottom: 20px;
    padding-bottom: 0;
}

.subscribe h2 {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: .3em;
    color: #111;
    font-family: 'Dosis';
    text-transform: uppercase;
}

.subscribe input {
    font-size: 12px;
    border-color: rgba(0, 0, 0, .1);
    transition: border-color .3s;
    border-radius: 2px;
    letter-spacing: 2.4px;
    font-weight: 400;
    line-height: 26px;
    width: 293px;
    height: 36px;
    box-shadow: none;
}

.subscribe input:focus {
    border-color: rgba(0, 0, 0, .5);
    box-shadow: none;
}

.subscribe .btn {
    padding: 13px 20px 12px;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 1;
    letter-spacing: 2.6px;
    font-family: "Open Sans";
    font-weight: 400;
    border-radius: 2px;
    border: none;
    height: 36px;
}

.subscribe .btn:hover,
.subscribe .btn:focus {
    box-shadow: none;
    background: #333;
    color: #fff;
}

.subscribe span {
    color: #aaaaaa;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    display: block;
    margin-bottom: 82px;
    margin-top: 20px;
}

.subscribe i {
    font-size: 12px;
    margin-right: 3px;
}

.subscribe-form .subscribe-submit {
    padding: 12px 20px;
}

.subscribe-form-control,
.subscribe-submit {
    display: inline-block;
    vertical-align: middle;
}

.subscribe-form-control {
    max-width: 300px;
}

.stay-informed .require-info-subscribe {
    margin-top: 20px;
}

@media (max-width: 767px) {
    /* TEST ON (479px) */
    .subscribe input {
        width: 100% !important;
        margin-bottom: 10px;
    }
    .subscribe button {
        float: none !important;
        margin-bottom: 10px;
    }
    .subscribe span {
        margin-top: 0px;
    }
}

/* subscribe END */

/* contact START */

.contact {
    padding-bottom: 140px;
}

.contact a:hover,
.contact a:focus {
    text-decoration: none;
    color: inherit;
    color: black;
}

.contact .contact-icon,
.contact .contact-data {
    display: inline-block;
    vertical-align: middle;
}

.contact .contact-data {
    margin-left: 14px;
}

.contact .contact-data-title {
    display: block;
    font-size: 12px;
    letter-spacing: .3em;
    text-transform: uppercase;
    font-family: "Dosis";
    font-weight: 400;
    color: #777;
    margin-bottom: 10px;
}

.contact .contact-data a {
    font-size: 15px;
    color: #444;
}

.contact .contact-data a:hover,
.contact .contact-data a:focus {
    background: none;
    color: #444;
    text-decoration: none;
}

.marker i.fa-phone {
    transform: rotate(45deg) scale(.9);
}

.contact .form-left,
.contact .form-right {
    width: 50%;
    float: left;
}

.contact .form-left {
    padding-right: 5px;
}

.contact .form-right {
    padding-left: 5px;
}

.contact .form-center {
    padding-top: 20px;
    clear: left;
}

.contact form {
    margin-top: 80px;
}

.contact input,
.contact textarea {
    font-size: 12px;
    border-color: rgba(0, 0, 0, .1);
    transition: border-color .3s;
    border-radius: 2px;
    color: #777;
    letter-spacing: .2em;
}

.contact input:focus,
.contact textarea:focus {
    box-shadow: none;
    border-color: rgba(0, 0, 0, .5);
}

.contact input {
    height: 36px;
}

.contact input + input {
    margin-top: 10px;
}

.contact textarea {
    min-height: 82px;
    resize: vertical;
    padding: 12px;
}

.contact .info {
    font-size: 11px;
    line-height: 36px;
    color: #aaa;
}

.contact .btn {
    line-height: 1;
    font-size: 13px;
    letter-spacing: .2em;
    padding: 12px 20px 13px;
    border-radius: 2px;
    text-transform: uppercase;
    transition: all .3s;
    border: none;
}

.contact .btn:hover,
.contact .btn:focus {
    background: #333;
    color: #fff;
}

@media (max-width: 768px) {
    .contact .contact-icon,
    .contact .contact-data {
        display: block;
    }

    .contact-info {
        margin-bottom: 0;
        text-align: center;
    }

    .contact .marker {
        margin: 0 auto 15px;
    }
    .contact .contact-data {
        margin-left: 0;
        margin-bottom: 15px;
    }

    .contact .form-left,
    .contact .form-right {
        width: 80%;
        float: none;
        margin: 0 auto;
        padding-right: 0;
        padding-left: 0;
    }

    .contact textarea {
        float: none;
        display: block;
        margin: 12px auto 0;
    }

    .contact .form {
        margin-top: 0;
    }

    .contact .info {
        display: block;
        text-align: center;
    }

    .contact .btn {
        display: block;
        margin: 0 auto;
        float: none !important;
    }
}

/* contact END */

/* MAP START*/

.map {
    padding-top: 0;
    position: relative;
    overflow: hidden;
}

.map iframe {
    border: 0;
    width: 100%;
    height: 410px;
}

.map .map-over {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(17, 17, 17, .95);
    padding-top: 170px;
    transition: transform .3s;
}

.map .map-text {
    display: block;
    top: 50%;
    margin-top: 30px;
    font-family: 'Dosis';
    color: rgba(255, 255, 255, .75);
    font-size: 16px;
    letter-spacing: .3em;
    text-transform: uppercase;
}

.map .marker {
    width: 27px;
    height: 27px;
    line-height: 27px;
}

.map:hover .map-over {
    transform: translateY(100%);
}

/* MAP END*/

/* FOOTER START*/

.footer {
    padding-top: 140px;
    height: 430px;
    background: #f8f8f8;
}

.footer img {
    filter: grayscale(80%);
}

.footer .social-links {
    padding-top: 25px;
    margin-bottom: 110px;
}

.footer .social-links .rhomb-icon {
    display: inline-block;
}

.footer .social-links .rhomb-icon:hover {
    color: #fff;
    background: #111;
}

.footer .social-links .rhomb-icon + .rhomb-icon {
    margin-left: 15px;
}

.footer .rhomb-icon {
    display: block;
    width: 23px;
    height: 23px;
    text-align: center;
    line-height: 23px;
    border-radius: 2px;
    font-size: 14px;
    transform: rotate(45deg);
    color: #111;
    border: 1px solid rgba(0, 0, 0, .7);
}

.rhomb-icon > * {
    transform: rotate(-45deg);
}

.footer .copyright-text .footer-date {
    font-family: 'Dosis', sans-serif;
    font-size: 12px;
    letter-spacing: .5em;
    color: #111;
    text-transform: uppercase;
    font-weight: 400;
    display: block;
    padding-bottom: 10px;
}

.footer .copyright-text .footer-slogan {
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    color: #999;
}

/* FOOTER END*/

/* SORT UP START */

.sort-up {
    position: fixed;
    bottom: 0px;
    right: 30px;
}

.sort-up .sort-up-icon {
    font-size: 60px;
    color: rgba(0, 0, 0, .2);

}

.fa-sort-up {
    padding: 0;
    margin: 0;
}

.sort-up .fa-sort-up:hover {
    color: rgba(0, 0, 0, .4);
}

.sort-up .fa-sort-up:active,
.sort-up .fa-sort-up:focus {
    color: rgba(0, 0, 0, .2);
}

/* SORT UP END */
